body {
    text-align: center;
    background: white;
}

#my-canvas {
    background: white;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    color: black;
}
#donpic {
    margin-block-end: 10;
}